<div id="tableContainer" class="tableContainer">
    <table class="scrollTable" width="100%" cellspacing="0" cellpadding="0" border="0">
        <thead class="fixedHeader">
            <tr class="alternateRow">
                <th width="20">
                    <%= check_box_tag 'selectall', :onclick => 'SelectAll("", this.checked)' %>
                </th>
                <th>
                    Applications
                </th>
                <th>
                    Description
                </th>
                <th>
                    Tools
                </th>
            </tr>
        </thead>
        <tbody class="scrollContent">
            <% applications.each do |app| -%>
            <tr class="<%= cycle('normalRow','alternateRow') %>">
                <td width="20">
                    <%= check_box_tag 'selected' %>
                </td>
                <td>
                    <%= app.name %>
                </td>
                <td>
                    <%= app.description %>
                </td>
                <td>
                </td>
            </tr>
            <% end -%>
        </tbody>
    </table>
</div>