<div id="tableContainer" class="tableContainer">
    <%= hidden_field :hq_system, :id %>
    <table class="scrollTable" width="100%" cellspacing="0" cellpadding="0" border="0">
        <thead class="fixedHeader">
            <tr class="alternateRow">
                <th width="20">
                    <%= check_box_tag 'selectall' %>
                </th>
                <th>
                    Applications
                </th>
                <th>
                    Description
                </th>
                <th>
                    Tools
                </th>
            </tr>
        </thead>
        <tbody class="scrollContent">
            <% applications.each do |app| -%>
            <tr class="<%= cycle('normalRow','alternateRow') %>">
                <td width="20">
                    <%= check_box_tag 'hq_app_ids[]', app.id %>
                </td>
                <td>
                    <%= app.name %>
                </td>
                <td>
                    <%= app.description %>
                </td>
                <td>
                </td>
            </tr>
            <% end -%>
        </tbody>
    </table>
</div>
<%= submit_to_remote 'tasks_by_apps', 'Filter', :url => { :action => 'tasks_by_apps' } %>
