<h1>Editing hq_cage</h1>

<% form_for(@hq_cage) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :hq_site_id %><br />
    <%= f.text_field :hq_site_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @hq_cage %> |
<%= link_to 'Back', hq_cages_path %>