<h1>Editing hq_env</h1>

<% form_for(@hq_env) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @hq_env %> |
<%= link_to 'Back', hq_envs_path %>