<h1>Listing hq_envs</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @hq_envs.each do |hq_env| %>
  <tr>
    <td><%=h hq_env.name %></td>
    <td><%= link_to 'Show', hq_env %></td>
    <td><%= link_to 'Edit', edit_hq_env_path(hq_env) %></td>
    <td><%= link_to 'Destroy', hq_env, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New hq_env', new_hq_env_path %>