<h1>Listing hq_rsrcs</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @hq_rsrcs.each do |hq_rsrc| %>
  <tr>
    <td><%=h hq_rsrc.name %></td>
    <td><%= link_to 'Show', hq_rsrc %></td>
    <td><%= link_to 'Edit', edit_hq_rsrc_path(hq_rsrc) %></td>
    <td><%= link_to 'Destroy', hq_rsrc, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New hq_rsrc', new_hq_rsrc_path %>