<% form_for( @object, :url => { :action => :update, :id => @object, :page => params[:page] },
:success => visual_effect(:blind_up, 'activity', :duration => 0.5),
:html => { :method => :put, :class => "edit_#{@CcObjectClass.to_s.underscore}" }) do |f| %>
<%= hidden_field @object.class.name.underscore.to_sym, :position  if @object.attributes.include?('position') %>
<div id="myfields" class="container">
    <div class="title">
        <%= @object.screen_name %>
        
    </div>
    <div class="editor">
        <%= render :partial => 'reflected/record_line' %>
    </div>
</div>

<!--  belongs_to fields -->
<%= render :partial => 'reflected/belongsedit', :locals => { :f => f } %>
<!-- end belongs_to fields -->


<!--  has_many fields -->
<%= render :partial => 'reflected/hasedit' %>
<!-- end has_many fields -->

<!-- has_many fields polymorphic -->
<%= render :partial => 'reflected/polyedit' %>
<!-- end has_many fields polymorphic -->

<%= render :partial => "#{@object.class.to_s.underscore.pluralize}/section/fields" %>


    <%= f.submit 'Update' %>

<% end %>